.root {

}

.appointment {
    -fx-background-color: #ffab91;
    -fx-background-radius: 3.0;
    -fx-border-radius: 3.0;
    -fx-padding: 0 3 0 3;
    -fx-background-insets: 0 3 0 3;
}

.appointment .leftbar {
    -fx-background-color: #ff7043;
    -fx-background-radius: 3 0 0 3;
}

.appointment .lblStartTime {
    -fx-font-size: 10;
    -fx-text-fill: #bf360c;
}

.headerpane {
    -fx-background-color: white;
}

.alldaypane {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #8F8F8FB0, 8, 0.0, -3, 8);
}

.time-indicator-label {
    -fx-font-size: 10;
    -fx-text-fill: darkgray;
    -fx-translate-y: -5;
    -fx-padding: 0 15 0 4;
}

.timeindicator {
    -fx-fill: blue;
    -fx-stroke: blue;
}

.label-weekday {
    -fx-font-size: 22;
    -fx-padding: 5 10 10 4;
}

.label-date {
    -fx-padding: 5 0 11 0;
}

.day-header-button {
    -fx-background-color: white;
    -fx-padding: 2 5 2 5;
    -fx-background-insets: 2 1 0 0;
    -fx-font-size: 20;
    -fx-effect: dropshadow(three-pass-box, gray, 2, 0.0, 0, 0);
}
.day-header-button:hover {
    -fx-effect: dropshadow(three-pass-box, gray, 5, 0.0, 0, 0);
}

.day-chooser .context-menu {
    -fx-background-color: white;
}

.day-chooser .context-menu:focused {
    -fx-background-color: white;
}

.day-chooser .custom-menu-item {
    -fx-background-color: white;
    -fx-padding: 0;
}

.day-chooser .custom-menu-item:focused {
    -fx-background-color: white;
}