.weekview {

}

.weekview-header-container {
    -fx-background-color: white;
}

.weekview-scrollpane {

}

.weekview-scrollpane-content {

}

.weekview-timeaxis-container {

}

.weekview-day-header-container {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #8F8F8FB0, 8, 0.0, -3, 8);
    -fx-grid-lines-visible: true;
}

.weekview-daypane-container {
    -fx-grid-lines-visible: true;
}




.time-indicator-label {
    -fx-font-size: 10;
    -fx-text-fill: darkgray;
    -fx-translate-y: -5;
    -fx-padding: 0 15 0 4;
}

.timeindicator {
    -fx-fill: blue;
    -fx-stroke: blue;
}

.label-weekday {
    -fx-font-size: 22;
    -fx-padding: 5 10 10 4;
}

.label-date {
    -fx-font-size: 10;
    -fx-padding: 5 0 11 0;
    -fx-text-fill: darkgray;
}


.day-chooser .context-menu {
    -fx-background-color: white;
}

.day-chooser .context-menu:focused {
    -fx-background-color: white;
}

.day-chooser .custom-menu-item {
    -fx-background-color: white;
    -fx-padding: 0;
}

.day-chooser .custom-menu-item:focused {
    -fx-background-color: white;
}